h2{
    color: orange;
}

body{
    background-color: #305050;
    color: white;
    text-align: center;
    font font-family: row-gap: ;
}

header{
    border-bottom: 1px solid grey;
}

footer{
    border-top: 1px solid grey;
}